# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
dist/
*.egg

# Cython __init__.pxd
**/__init__.pxd

# Cython-generated C files
cbase/**/*.c

# Build
build/
docs/_build

# Includes
cbase/includes/

# IDE
.idea/
.vscode/

# Test Artifacts
test/*/artifacts/

# Macro Probing Cache
macros.json

# Backup files
*.bkp
*.bak